<!DOCTYPE html>
<html>
<head>
    <title>Resultados da Busca BPC</title>
</head>
<body>
    <h1>Resultados da Busca BPC</h1>
    <p>Estado: {{ estado }}</p>
    <p>Município: {{ cidade }} (Código IBGE: {{ codigo_ibge }})</p>
    <p>Mês e Ano: {{ mes_ano }}</p>

    {% if quantidade_beneficiarios > 0 %}
        <p>Quantidade Total de Beneficiários: {{ quantidade_beneficiarios }}</p>
        <p>Valor Total dos Benefícios: {{ total_valor }}</p>
    {% else %}
        <p>Nenhum resultado encontrado para os critérios informados.</p>
    {% endif %}

    <p><a href="{% url 'formulario_busca' %}">Nova Busca</a></p>
</body>
</html>